*.class

# Package Files #
*.war
*.ear

# eclipse files #
.settings
.classpath
.project
bin

.changelogcache/*
.nb*
nb*

build
changelog*
target
lib
credentials.properties
!/src/net/foxopen/jira/changelog/
!/test/net/foxopen/jira/changelog/