{{#versions}}
=================================================================
{{dateText}} {{name}}{{{description}}}
-----------------------------------------------------------------
{{#issues}}
 - [{{name}}] {{description}}
{{/issues}}
{{/versions}}



