{{#versions}}
=================================================================
{{dateText}} {{name}}{{{description}}}
-----------------------------------------------------------------
{{#typeList}}
{{name}}:
{{#issues}}
- [{{{name}}}] {{{description}}}
{{/issues}}
{{/typeList}}
{{/versions}}