{{#versions}}
=================================================================
{{dateText}} {{name}}{{{description}}}
-----------------------------------------------------------------
{{#issues}}
 - [{{{issueKey}}}] {{{description}}}
{{/issues}}
{{/versions}}



