{{#versions}}
=================================================================
{{releaseDateText}} {{name}}
{{{description}}}
-----------------------------------------------------------------
{{#issues}}
 - [{{key}}] {{{description}}}
{{/issues}}
{{/versions}}


