{{#versions}}
===============================================================
{{versionText}}
===============================================================
{{#typeList}}
{{name}}
{{#issues}}
[{{name}}] - {{description}}
{{/issues}}
{{/typeList}}
{{/versions}}